<html>
    <head>
        <meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" />
    </head>
    <body>
        <h1>Hi !</h1>
        <p>
            To reset the password, please use this code: <%= @user.reset_password_token %>.
        </p>
        <p>
            If you have not requested this action, please, contact support.
        </p>
    </body>
</html>