.system-alert {
  z-index: 1000;
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  padding: 10px;
  opacity: 1;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 4px 0 #212121;
  transition: all .2s ease;
  .close {
    position: absolute;
    top: 5px;
    right: 1.2em;
    font-size: 1.7em;
    &:hover{
      cursor: pointer;
    }
  }
  &.error {
    background-color: rgba(195, 35, 45, 0.7);
  }
  &.success {
    background-color: rgba(17, 172, 14, 0.7);
  }
  &.shown {
    top: 0;
  }
}
